.splitScreen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  animation: slide 1.5s ease-in-out;
}

@keyframes slide {
  0% {
    transform: translateX(90%);
  }
  100% {
    transform: translateX(0);
  }
}

.splitScreen .leftPane {
  width: 100%;
}

.splitScreen .rightPane {
  width: 100%;
  padding: 2px;
  overflow-y: auto;
  max-height: 100vh;
}

.AboutImage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AboutImage img {
  width: 50%;
  object-fit: cover;
}

h1 {
  font-size: 24px;
  font-family: Math;
}

h2 {
  font-size: 14px;
  font-family: Math;
}

h3 {
  font-size: 12px;
  line-height: 1;
  font-weight: 100;
  text-align: justify;
  font-family: Math;
  padding: 4px;
  word-wrap: break-word;
}

.newLine::after {
  content: "\A";
  white-space: pre;
}

.spinner {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-left-color: #1089f2;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spinner 0.8s linear infinite;

  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #1089f2;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spinner 0.8s linear infinite;

    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  .splitScreen {
    flex-direction: row;
  }

  .splitScreen .leftPane {
    width: 50%;
  }

  .splitScreen .rightPane {
    width: 50%;
    padding: 30px;
  }
  .splitScreen .rightPane {
    padding-left: 10px;
  }

  .AboutImage {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .AboutImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    font-size: 48px;
    font-family: Math;
  }

  h2 {
    font-size: 28px;
    font-family: Math;
  }

  h3 {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 200;
    text-align: justify;
    font-family: Math;
  }

  .newLine::after {
    content: "\A";
    white-space: pre;
  }
}
